@import '@/assets/scss/_main';


.simulation {
    
    .value {
        align-content: center;
        padding-left: 145px;
        h1 {
            color: $primary;
            text-align: center;
            font: normal bold 20px;
            letter-spacing: 0px;
            opacity: 1;
            font-size: smaller;
        }
        .control {
            font-size: smaller;
            display: flex;
            justify-content: center;
        }
        .btn {
            background-color: $secondary-strong;
            color: $background;
            margin: 0px 10px;
        }
        .table {
            display: flex;
            justify-content: center;
            padding: 50px;
        }
    }
}
